<div class="content-wrapper container-xxl">
  <div class="content-body">
    <section class="vertical-wizard">
      <div id="stepper4" class="bs-stepper vertical vertical-wizard-example">
        <div class="bs-stepper-header">
          <div class="step" data-target="#account-details-vertical-modern">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">
                <i data-feather="file-text" class="font-medium-3"></i>
              </span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Select File Type</span>
                <span class="bs-stepper-subtitle">Choose File Type</span>
              </span>
            </button>
          </div>
          <div class="step" data-target="#personal-info-vertical-modern">
            <button type="button" class="step-trigger">
              <span class="bs-stepper-box">
                <i data-feather="user" class="font-medium-3"></i>
              </span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Upload Files</span>
                <span class="bs-stepper-subtitle">Upload Word/PPT/Excel</span>
              </span>
            </button>
          </div>
        </div>
        
        <div class="bs-stepper-content">
          <!-- Step 1: Select File Type -->
          <div id="account-details-vertical-modern" class="content">
            <div class="content-header">
              <div class="dropdown col-4 float-md-right pb-5">
                <button class="btn btn-success mb-5 dropdown-toggle gg" type="button" id="dropdownMenuButton"
                  data-mdb-toggle="dropdown" aria-expanded="false">
                  <i data-feather="file-text"></i>
                  Export to Excel by :
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#" id="allUsers">All Users</a></li>
                  <li><a class="dropdown-item" href="#" id="byProject">By Project</a></li>
                  <li>
                    <a class="dropdown-item" href="#">By Department &raquo;</a>
                    <ul class="dropdown-menu dropdown-submenu">
                      <li><a class="dropdown-item" href="#" id="departmentMC">MC</a></li>
                      <li><a class="dropdown-item" href="#" id="departmentSE">SE</a></li>
                      <li><a class="dropdown-item" href="#" id="departmentFinance">Finance</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <h5 class="mb-0">Select File Type</h5>
              <small class="text-muted">Choose the type of file you want to work with.</small>
            </div>
            <div class="form-group">
              <label for="fileType">Select File Type:</label>
              <select class="form-control w-50" id="fileType" [(ngModel)]="selectedFileType" name="fileType" (change)="updateFileAccept()">
                <option value="word">Word</option>
                <option value="ppt">PowerPoint</option>
                <option value="html">HTML</option>
                <option value="sms">SMS</option>

              </select>
            </div>
            <div class="buttons-container">
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary btn-prev" disabled rippleEffect>
                  <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                  <span class="align-middle d-sm-inline-block d-none">Previous</span>
                </button>
                <button class="btn btn-primary btn-next align-right" (click)="modernVerticalNext()" rippleEffect>
                  <span class="align-middle d-sm-inline-block d-none">Next</span>
                  <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                </button>
              </div>
            </div>
          </div>
          
          <!-- Step 2: Upload Files -->
          <div id="personal-info-vertical-modern" class="content">
            <div class="content-header">
              <h5 class="mb-0">Upload Files</h5>
              <small>Upload Word/PPT/Excel files as needed.</small>
            </div>
            <div class="row" *ngIf="selectedFileType === 'word' || selectedFileType === 'ppt'">
              <div class="col-6">
                <div class="form-group">
                  <label for="generalFileInput">Upload Word/PPT File:</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="generalFileInput" [attr.accept]="fileAccept" (change)="onFileSelect($event, 'general'); updateFileN($event)" />
                    <label class="custom-file-label" for="generalFileInput">{{ fileName }}</label>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="customFile">Upload Excel File:</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" accept=".xls,.xlsx" (change)="onFileSelect($event, 'excel'); ReadExcel($event); openModal(); updateFileName($event);" />
                    <label class="custom-file-label" for="customFile" id="customFileLabel">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="selectedFileType === 'html'">
              <div class="col-xl-4 col-md-6 col-12 mb-1">
                <div class="form-group">
                  <label for="basicInput">Template Label:</label>
                  <input type="text" [(ngModel)]="templateLabel" class="form-control" placeholder="Enter template label" />
                </div>
              </div>
              <div class="col-xl-4 col-md-6 col-12 mb-1">
                <div class="form-group">
                  <label for="basicInput">Template Object:</label>
                  <input type="text" [(ngModel)]="templateObject" class="form-control" placeholder="Enter template object" />
                </div>
              </div>
              <div class="col-xl-4 col-md-6 col-12 mb-1">
                <div class="form-group">
                  <label for="basicInput">Content Text:</label>
                  <input type="text" [(ngModel)]="contentText" class="form-control" placeholder="Enter content text" />
                </div>
              </div>
              <div class="col-12">
                <div style="margin: 0px">
                  <h2>WYSIWYG Editor</h2>
                  <editor apiKey="w5ylcwyk9jqertk52z5ubs1iwzvckchm4u4m35yeoz9z177h" [(ngModel)]="editorContent" [init]="editorConfig" (ngModelChange)="onEditorChange($event)"></editor>
                </div>
                <div style="margin: 20px; overflow-x: auto; max-width: 100%;">
                  <h2>HTML Content</h2>
                  <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ editorContent }}</pre>
                </div>
                <button class="btn btn-outline-primary" rippleEffect (click)="saveTemplate()">Save Template</button>
              </div>
            </div>
            <div class="row" *ngIf="selectedFileType === 'sms'">
              <div class="col-12">
                <fieldset class="form-label-group">
                  <textarea class="form-control" id="label-textarea" rows="3" placeholder="Write your message" [(ngModel)]="messageTemplate" name="messageTemplate"></textarea>
                  <label for="label-textarea">Write your message</label>
                </fieldset>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary btn-prev" (click)="modernVerticalPrevious()" rippleEffect>
                <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Previous</span>
              </button>
              <button class="btn btn-success btn-submit" rippleEffect (click)="onSubmit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="excelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excel Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let col of displayedColumns">{{ col }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ExcelData; let rowIndex = index">
              <td *ngFor="let col of displayedColumns; let colIndex = index">
                <div *ngIf="!isEditingCell(rowIndex, colIndex)">
                  <span (click)="startEdit(data, rowIndex, colIndex)">{{ data[col] || ' ' }}</span>
                </div>
                <div *ngIf="isEditingCell(rowIndex, colIndex)" class="khater">
                  <input [(ngModel)]="data[col]" (blur)="stopEdit()" [style.width.px]="calculateInputWidth(data[col])" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-outline-primary btn-custom" rippleEffect (click)="addEmptyRow()">Add Row</button>
        <button class="btn btn-outline-primary btn-custom" rippleEffect (click)="promptAddColumn()">Add Column</button>
      </div>
    </div>
  </div>
</div>


