<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- page users view start -->
    <section class="app-user-view">
      <!-- User Card & Plan Starts -->
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-9 col-lg-8 col-md-7">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div
                  class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg"
                >
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <div>
                        <img
                        class="img-fluid rounded"
                        [src]="
                          (data.entity.image &&
                            data.entity.image.imagenUrl) ||
                          'https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg'
                        "
                        height="104"
                        width="104"
                        alt="User avatar"
                      />
                      </div>
                      <ng-template>
                        <div class="mr-1 ml-0">
                          <div
                            [ngClass]="{
                              'bg-light-success': data.status == 'active',
                              'bg-light-secondary': data.status == 'inactive'
                            }"
                            class="rounded p-3"
                          >
                            <h2
                              [ngClass]="{
                                'text-success': data.status == 'active',
                                'text-secondary': data.status == 'inactive'
                              }"
                              class="m-0"
                            >
                              {{ data.entity.fname | initials }}
                            </h2>
                          </div>
                        </div>
                      </ng-template>
                      <div class="d-flex flex-column ml-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0">{{ data.entity.fname }} {{ data.entity.lname }}</h4>
                          <span class="card-text">{{ data.entity.email }}</span>
                        </div>
                        <div class="d-flex flex-wrap">
                          <a
                            routerLink="/apps/user/user-edit/{{
                              data.entity.idUser
                            }}"
                            class="btn btn-primary"
                            rippleEffect
                            >Edit</a
                          >
                          <button
                            class="btn btn-outline-danger ml-1"
                            (click)="deleteUser(data.entity.idUser)"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center user-total-numbers">
                    <div class="d-flex align-items-center mr-2">
                      <div class="color-box bg-light-primary">
                        <i
                          [data-feather]="'dollar-sign'"
                          [class]="'text-primary'"
                        ></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">23.3k</h5>
                        <small>Monthly Sales</small>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="color-box bg-light-success">
                        <i
                          [data-feather]="'trending-up'"
                          [class]="'text-success'"
                        ></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">$99.87K</h5>
                        <small>Annual Profit</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="user" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Username</span
                        >
                      </div>
                      <p class="card-text mb-0">
                        {{ data.entity.fname }} {{ data.entity.lname }}
                      </p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="check" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Status</span
                        >
                      </div>
                      <p class="card-text mb-0">
                        {{ data.entity.enabled ? "Active" : "Inactive" }}
                      </p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="star" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Role</span
                        >
                      </div>
                      <p class="card-text mb-0">
                        {{ data.entity.role.roleName }}
                      </p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="flag" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Country</span
                        >
                      </div>
                      <p class="card-text mb-0">England</p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="phone" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Contact</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ data.entity.numTel }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->

        <!-- Plan Card starts-->
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="card plan-card border-primary">
            <div
              class="card-header d-flex justify-content-between align-items-center pt-75 pb-1"
            >
              <h5 class="mb-0">Current Plan</h5>
              <span
                class="badge badge-light-secondary"
                data-toggle="tooltip"
                data-placement="top"
                title="Expiry Date"
                >July 22, 2020 <span class="nextYear"></span>
              </span>
            </div>
            <div class="card-body">
              <div class="badge badge-light-primary">Basic</div>
              <ul class="list-unstyled my-1">
                <li>
                  <span class="align-middle">5 Users</span>
                </li>
                <li class="my-25">
                  <span class="align-middle">10 GB storage</span>
                </li>
                <li>
                  <span class="align-middle">Basic Support</span>
                </li>
              </ul>
              <button
                class="btn btn-primary text-center btn-block"
                rippleEffect
              >
                Upgrade Plan
              </button>
            </div>
          </div>
        </div>
        <!-- /Plan CardEnds -->
      </div>
      <!-- User Card & Plan Ends -->

      <!-- User Timeline & Permissions Starts -->
      <div class="row">
        <!-- information starts -->
        
          <div class="col-md-6" *ngFor="let projet of projets">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title mb-2">Project Details</h4>
                <button class="btn btn-outline-success export-button btn-sm" (click)="exportUsers(projet.idProjet)">
                  <i data-feather="file-text"></i>
                </button>
              </div>
              <div class="card-body">
                <ul class="timeline">
                  <li class="timeline-item">
                    <span class="timeline-point timeline-point-indicator"></span>
                    <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <h6 class="text-primary">Project</h6>
                      </div>
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <p><span>Project Name : </span> {{ projet.nameProjet }}</p>
                        <span class="timeline-event-time"> From {{ projet.dateDeb }} To {{ projet.dateFin }}</span>
                      </div>
                      <p>
                        <span>Status : </span>
                        <span *ngIf="projet.status === 0"> En Cours</span>
                        <span *ngIf="projet.status === 1"> Pas Encore</span>
                        <span *ngIf="projet.status === 2"> Terminé</span>
                      </p>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                    <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <h6 class="text-warning">Users</h6>
                      </div>
                      <p>List of users affected to this project</p>
                      <!-- Loop through users -->
                      <div *ngFor="let user of projet.users" class="media align-items-center">
                        <div class="media-body ml-50">
                          <div class="media align-items-center">
                            <div class="avatar">
                              <a [routerLink]="'/apps/user/user-view/' + user.idUser">
                                <img [src]="(user.image && user.image.imagenUrl) || 'https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg'" alt="avatar" height="38" width="38" />
                              </a>
                            </div>
                            <div class="media-body ml-50">
                              <h6 class="mb-0">{{ user.fname }} {{ user.lname }}</h6>
                              <span>{{ user.role.roleName }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-item">
                    <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                    <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                        <h6 class="text-info">Email</h6>
                      </div>
                      <!-- Mail details -->
                      <div class="media align-items-center" *ngIf="projet.mail">
                        <span> Address mail : <span> {{ projet.mail.username }}</span></span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
       
        <!-- information Ends -->

        <!-- User Permissions Starts -->
        <div class="col-md-6">
          <!-- User Permissions -->
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Permissions</h4>
            </div>
            <p class="card-text ml-2">Permission according to roles</p>
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th>Module</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Create</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Admin</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="admin-read"
                          checked
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="admin-read"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="admin-write"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="admin-write"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="admin-create"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="admin-create"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="admin-delete"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="admin-delete"
                        ></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Staff</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="staff-read"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="staff-read"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="staff-write"
                          checked
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="staff-write"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="staff-create"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="staff-create"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="staff-delete"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="staff-delete"
                        ></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Author</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="author-read"
                          checked
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="author-read"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="author-write"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="author-write"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="author-create"
                          checked
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="author-create"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="author-delete"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="author-delete"
                        ></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Contributor</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="contributor-read"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="contributor-read"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="contributor-write"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="contributor-write"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="contributor-create"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="contributor-create"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="contributor-delete"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="contributor-delete"
                        ></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>User</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="user-read"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="user-read"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="user-create"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="user-create"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="user-write"
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="user-write"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="user-delete"
                          checked
                          disabled
                        />
                        <label
                          class="custom-control-label"
                          for="user-delete"
                        ></label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /User Permissions -->
        </div>
        <!-- User Permissions Ends -->
      </div>
      <!-- User Timeline & Permissions Ends -->

     
    </section>
    <!-- page users view end -->
  </div>
</div>
