
.khater input:focus {
    outline: none !important;
    background: none;
    border: none;


}
.gg {
  /* box-shadow: none; */
  font-weight: 500;
  margin-top: 73px;
}



.align-right {
  position: absolute;
  right: 0;
}
.buttons-container {
  margin-top: auto; /* Pousse le conteneur vers le bas */
  padding: 10px; /* Optionnel : ajoute un peu de padding autour des boutons */
}
.bb{
    margin-left: 22px;
}
pre {
    background-color: white;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.modal-content {
    overflow-x: auto; /* Activer le défilement horizontal si nécessaire */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    max-height: 80vh; /* Hauteur maximale pour le défilement vertical */
}

.modal-body {
    overflow: auto; /* Activer le défilement dans le corps du modal */
}
.modal-lg {
    max-width: 80% !important;
  }
  
  .table-striped {
    width: 100%;
  }
  table {
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }
  .table {
    width: 100%;
  }
  
  button {
    margin: 10px 0;
  }
  .btn-custom {
    width: 150px; /* Ajustez la largeur selon vos besoins */
    margin-right: 10px; /* Ajoutez un espace entre les boutons */
  }
/*   .content {
    width: 100%;
  } */
  .ps{
    width: 100% !important;
  }